<!DOCTYPE html>

<html>
    <div>
        <%= flash[:notice] %>
    </div>

    <body>
        <p id="notice"></p>
        <p>
            <strong>Title:</strong>
            <%= @book.title %>
        </p>
        <p>
            <strong>Body:</strong>
            <%= @book.body %>
        </p>
        <div>
            <span class="link"><%= link_to "Edit", edit_book_path(@book.id) %></span>
            |
            <span><%= link_to "Back", books_path %></span>
        </div>
    </body>
</html>